html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-8 px-4 lg:px-10 bg-blue-800")
                nav(class="relative")
                    div(class="flex justify-between items-center")
                        a(class="text-xl text-white font-semibold", href="#")
                            img(src="images/Vision-white-1.svg", alt="", width="150")
                        div(class="lg:hidden")
                            button(class="navbar-burger flex items-center p-3 rounded")
                                svg(class="text-white block h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg", fill="currentColor")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10")
                            li               
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Company
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Services
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Testimonials
                        div(class="hidden lg:block")
                            a(class="inline-block px-8 text-white hover:text-blue-50 font-semibold", href="#") Get estimate
                            a(class="inline-block py-3 px-8 text-sm text-white hover:text-blue-50 uppercase font-semibold border-2 border-white", href="#") Contact
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90")
                    nav(class="relative flex flex-col py-8 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none", href="#")
                                img(src="images/Vision-white-1.svg", alt="", width="150")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Company
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Services
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Testimonials
                        div(class="mt-auto px-10")
                            div(class="pt-6")
                                a(class="block mb-2 py-4 text-center text-blue-800 font-semibold", href="#") Get estimate
                                a(class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold", href="#") Contact
                            p(class="mt-6 mb-4 text-sm text-center text-blue-400")
                                span © 2021 All rights reserved © Wireframes Corporation 2021
            section(class="relative py-24 bg-blue-50")
                img(class="hidden lg:block absolute top-0 right-0 w-2/5 h-full object-cover clip-path-left", src="images/pawel-czerwinski-Uj3S6JiXxaA-unsplash-1.jpg", alt="")
                div(class="relative container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0")
                            div(class="max-w-lg")
                                h2(class="mb-10 text-4xl font-bold font-heading text-blue-800") Let's find creative way for generating true growth of your company
                                p(class="text-lg text-gray-500") Vision is an award winning Ditial Marketing and Creative Strategy agency in New York. We are passionate about making your business grow.
                        div(class="w-full lg:w-1/2 px-4")
                            div(class="p-6 lg:p-16 bg-white")
                                form(action="#")
                                    span(class="inline-block uppercase text-blue-400 font-semibold tracking-widest") Start your growth
                                    h3(class="mb-4 text-2xl font-bold font-heading text-blue-800") Leave us your phone 
                                    input(class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400 bg-blue-50", type="email", placeholder="E-mail address")
                                    label(class="inline-flex mb-4 text-left")
                                        input(class="mr-2", type="checkbox", name="terms", value="1")
                                        span(class="-mt-1 inline-block text-sm text-gray-500")
                                            | By signing up, you agree to our 
                                            a(class="text-blue-400 hover:underline", href="#") Terms, Data Policy
                                            |  and 
                                            a(class="text-blue-400 hover:underline", href="#") Cookies Policy
                                            | .
                                    button(class="w-full inline-block mb-4 py-5 text-sm text-blue-800 uppercase font-bold bg-yellow-500 hover:bg-yellow-400 transition duration-200") Send
            section(class="relative py-24 bg-blue-50 overflow-hidden")
                div(class="absolute top-0 bottom-0 -left-1/4 -right-1/4 flex items-center justify-center")
                    h2(class="stroke opacity-25") CONTACTS
                img(class="hidden lg:block absolute top-0 right-0 w-1/2 h-full object-cover clip-path-left-top", src="bendis-assets/images/map1.png", alt="")
                div(class="relative container px-4 mx-auto")
                    div(class="max-w-md mb-10")
                        h2(class="mb-4 text-4xl font-bold text-blue-800") Got questions?
                        p(class="text-lg text-gray-500") Call, write or visit us, we don't care how, but don't leave us waiting.
                    div(class="max-w-3xl flex flex-wrap justify-between -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-4 lg:mb-0")
                            div(class="py-16 bg-blue-800 text-center")
                                h3(class="mb-4 text-lg font-semibold text-white") Visit Us
                                p(class="text-gray-50") 3556 New Lane
                                p(class="text-gray-50") New York, NY 10013
                        div(class="w-full lg:w-1/2 px-4")
                            div(class="py-16 bg-blue-800 text-center")
                                h3(class="mb-4 text-lg font-semibold text-white") Contacts
                                p(class="text-gray-50") hello@visionmarketing.org
                                p(class="text-gray-50") +7 843 672 431
            section(class="py-24 bg-blue-50")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -mx-5 mb-12 md:mb-20")
                        div(class="w-full lg:w-1/3 px-5 mb-12 lg:mb-0")
                            a(class="inline-block mb-6 text-blue-800 text-lg font-semibold", href="#")
                                img(src="images/Vision-Blue-1.svg", alt="", width="100")
                            p(class="mb-6 max-w-sm text-base text-gray-500") Creativity that sparks performance
                            div
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="10", height="18", viewbox="0 0 10 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M6.63482 17.7272V9.766H9.35818L9.76676 6.66243H6.63482V4.68126C6.63482 3.78299 6.88809 3.17083 8.20285 3.17083L9.877 3.17015V0.394215C9.58748 0.357312 8.59366 0.272705 7.43696 0.272705C5.02158 0.272705 3.36797 1.71878 3.36797 4.37389V6.66243H0.636353V9.766H3.36797V17.7272H6.63482Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="19", height="16", viewbox="0 0 19 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M18.8182 2.14598C18.1356 2.44844 17.4032 2.65356 16.6337 2.74513C17.4194 2.27462 18.0209 1.52831 18.3059 0.641769C17.5689 1.0775 16.7553 1.39389 15.8885 1.56541C15.1943 0.82489 14.207 0.363647 13.1118 0.363647C11.0108 0.363647 9.30725 2.06719 9.30725 4.16707C9.30725 4.46489 9.34086 4.75577 9.40577 5.03392C6.24437 4.87513 3.44107 3.3605 1.56486 1.05895C1.23689 1.61986 1.05031 2.27344 1.05031 2.9711C1.05031 4.29107 1.72246 5.45574 2.74228 6.13713C2.1188 6.11628 1.5324 5.94477 1.01904 5.65968V5.70719C1.01904 7.5498 2.33089 9.08762 4.07034 9.43762C3.75164 9.52337 3.41558 9.57089 3.06792 9.57089C2.82225 9.57089 2.58468 9.54656 2.35174 9.50019C2.83613 11.0125 4.24071 12.1123 5.90486 12.1424C4.60343 13.1623 2.96246 13.7683 1.18013 13.7683C0.873039 13.7683 0.570554 13.7498 0.272736 13.7162C1.95658 14.7974 3.95564 15.4279 6.10419 15.4279C13.1026 15.4279 16.9281 9.63116 16.9281 4.60398L16.9153 4.11147C17.6628 3.57834 18.3094 2.90853 18.8182 2.14598Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="18", height="18", viewbox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9 0C4.0275 0 0 4.13211 0 9.22838C0 13.3065 2.5785 16.7648 6.15375 17.9841C6.60375 18.0709 6.76875 17.7853 6.76875 17.5403C6.76875 17.3212 6.76125 16.7405 6.7575 15.9712C4.254 16.5277 3.726 14.7332 3.726 14.7332C3.3165 13.6681 2.72475 13.3832 2.72475 13.3832C1.9095 12.8111 2.78775 12.8229 2.78775 12.8229C3.6915 12.887 4.16625 13.7737 4.16625 13.7737C4.96875 15.1847 6.273 14.777 6.7875 14.5414C6.8685 13.9443 7.10025 13.5381 7.3575 13.3073C5.35875 13.0764 3.258 12.2829 3.258 8.74709C3.258 7.73988 3.60675 6.91659 4.18425 6.27095C4.083 6.03774 3.77925 5.0994 4.263 3.82846C4.263 3.82846 5.01675 3.58116 6.738 4.77462C7.458 4.56958 8.223 4.46785 8.988 4.46315C9.753 4.46785 10.518 4.56958 11.238 4.77462C12.948 3.58116 13.7017 3.82846 13.7017 3.82846C14.1855 5.0994 13.8818 6.03774 13.7917 6.27095C14.3655 6.91659 14.7142 7.73988 14.7142 8.74709C14.7142 12.2923 12.6105 13.0725 10.608 13.2995C10.923 13.5765 11.2155 14.1423 11.2155 15.0071C11.2155 16.242 11.2043 17.2344 11.2043 17.5341C11.2043 17.7759 11.3617 18.0647 11.823 17.9723C15.4237 16.7609 18 13.3002 18 9.22838C18 4.13211 13.9703 0 9 0Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="10", height="18", viewbox="0 0 10 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M6.63482 17.7272V9.766H9.35818L9.76676 6.66243H6.63482V4.68126C6.63482 3.78299 6.88809 3.17083 8.20285 3.17083L9.877 3.17015V0.394215C9.58748 0.357312 8.59366 0.272705 7.43696 0.272705C5.02158 0.272705 3.36797 1.71878 3.36797 4.37389V6.66243H0.636353V9.766H3.36797V17.7272H6.63482Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="18", height="18", viewbox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M16.2 0H1.8C0.81 0 0 0.81 0 1.8V16.2C0 17.19 0.81 18 1.8 18H16.2C17.19 18 18 17.19 18 16.2V1.8C18 0.81 17.19 0 16.2 0ZM5.4 15.3H2.7V7.2H5.4V15.3ZM4.05 5.67C3.15 5.67 2.43 4.95 2.43 4.05C2.43 3.15 3.15 2.43 4.05 2.43C4.95 2.43 5.67 3.15 5.67 4.05C5.67 4.95 4.95 5.67 4.05 5.67ZM15.3 15.3H12.6V10.53C12.6 9.81004 11.97 9.18 11.25 9.18C10.53 9.18 9.9 9.81004 9.9 10.53V15.3H7.2V7.2H9.9V8.28C10.35 7.56 11.34 7.02 12.15 7.02C13.86 7.02 15.3 8.46 15.3 10.17V15.3Z", fill="currentColor")
                        div(class="w-full lg:w-2/3 px-5")
                            div(class="flex flex-wrap justify-between -mx-4")
                                div(class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Company
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") About Us
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Careers
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Press
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Blog
                                div(class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Services
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Branding
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Strategy
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Design
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Websites
                                div(class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Legal
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Terms
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") About Us
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Team
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Privacy
                                div(class="w-1/2 lg:w-1/4 px-4")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Resources
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Blog
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Service
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Product
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Pricing
                    p(class="text-center text-sm text-gray-500 pt-8 px-4 border-t border-gray-100") All rights reserved © Vision Marketing 2022
