html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-8 px-4 lg:px-10 bg-blue-800")
                nav(class="relative")
                    div(class="flex justify-between items-center")
                        a(class="text-xl text-white font-semibold", href="#")
                            img(src="images/Vision-white-1.svg", alt="", width="150")
                        div(class="lg:hidden")
                            button(class="navbar-burger flex items-center p-3 rounded")
                                svg(class="text-white block h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg", fill="currentColor")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10")
                            li               
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Company
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Services
                            li
                                a(class="text-white font-semibold hover:text-blue-50", href="#") Testimonials
                        div(class="hidden lg:block")
                            a(class="inline-block px-8 text-white hover:text-blue-50 font-semibold", href="#") Get estimate
                            a(class="inline-block py-3 px-8 text-sm text-white hover:text-blue-50 uppercase font-semibold border-2 border-white", href="#") Contact
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90")
                    nav(class="relative flex flex-col py-8 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none", href="#")
                                img(src="images/Vision-white-1.svg", alt="", width="150")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Company
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Services
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Testimonials
                        div(class="mt-auto px-10")
                            div(class="pt-6")
                                a(class="block mb-2 py-4 text-center text-blue-800 font-semibold", href="#") Get estimate
                                a(class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold", href="#") Contact
                            p(class="mt-6 mb-4 text-sm text-center text-blue-400")
                                span © 2021 All rights reserved © Wireframes Corporation 2021
            section(class="pt-40 pb-24 bg-blue-50")
                div(class="relative container px-4 mx-auto")
                    span(class="absolute top-0 left-0 z-10 ml-12 lg:ml-32 -mt-20")
                        svg(class="text-blue-300 h-32 w-32", viewbox="0 0 146 111", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M84.0714 110V110.5H84.5714H138.196H138.696V110V59.1949V58.7227L138.225 58.6957L118.758 57.5828L144.455 1.20738L144.777 0.5H144H124.036H123.756L123.609 0.73884L84.1451 65.1689L84.0714 65.2891V65.4301V110ZM0.5 110V110.5H1H54.625H55.125V110V59.1949V58.723L54.6539 58.6958L35.4185 57.5833L61.1157 1.20738L61.4381 0.5H60.6607H40.6964H40.4172L40.2707 0.737725L0.57431 65.1678L0.5 65.2884V65.4301V110Z", stroke="currentColor")
                    div(class="relative flex flex-wrap items-center bg-white clip-path-right-top-sm -mx-3")
                        div(class="w-full lg:w-3/5 px-3")
                            div(class="max-w-sm mx-auto py-20 lg:py-0")
                                h3(class="mb-3 text-3xl font-bold text-blue-800") Vision marketing never fails to impress us.
                                p(class="mb-10 text-gray-500") They constantly come up with new ideas to make our campaigns better.
                                div(class="max-w-max ml-auto")
                                    p(class="mb-1 text-lg text-blue-500 font-semibold") Tom Harris
                                    p(class="text-sm text-gray-500") Marketing Director
                        div(class="w-full lg:w-2/5")
                            img(class="w-full lg:w-auto h-96 object-cover", src="images/pexels-august-de-richelieu-8366854.jpg", alt="")
            section(class="py-16")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -m-4")
                        div(class="w-full md:w-1/3 lg:w-1/6 p-4")
                            div(class="py-4")
                                img(class="h-6 mx-auto", src="bendis-assets/logos/slack-color.svg", alt="")
                        div(class="w-full md:w-1/3 lg:w-1/6 p-4")
                            div(class="py-4")
                                img(class="h-6 mx-auto", src="bendis-assets/logos/dropbox-color.svg", alt="")
                        div(class="w-full md:w-1/3 lg:w-1/6 p-4")
                            div(class="py-4")
                                img(class="h-6 mx-auto", src="bendis-assets/logos/spotify-color.svg", alt="")
                        div(class="w-full md:w-1/3 lg:w-1/6 p-4")
                            div(class="py-4")
                                img(class="h-6 mx-auto", src="bendis-assets/logos/amazon-color.svg", alt="")
                        div(class="w-full md:w-1/3 lg:w-1/6 p-4")
                            div(class="py-4")
                                img(class="h-6 mx-auto", src="bendis-assets/logos/netflix-color.svg", alt="")
                        div(class="w-full md:w-1/3 lg:w-1/6 p-4")
                            div(class="py-4")
                                img(class="h-6 mx-auto", src="bendis-assets/logos/stripe-color.svg", alt="")
            section(class="bg-blue-50 py-24")
                div(class="relative container mx-auto px-4")
                    div(class="absolute inset-0")
                        svg(width="728", height="804", viewbox="0 0 728 804", fill="none", xmlns="http://www.w3.org/2000/svg")
                            g(opacity="0.1")
                                path(d="M325.785 784.903C325.976 784.903 326.167 784.903 326.358 784.712L651.187 593.738L651.378 593.547L651.57 593.356L727.809 479.153L728 478.962V478.771V478.581V478.39V478.199L651.57 134.446C651.57 134.255 651.378 134.064 651.187 133.873C650.996 133.873 650.805 133.682 650.614 133.682H650.423L477.117 182.189C476.544 182.38 476.353 182.953 476.544 183.335C476.735 183.908 477.117 184.099 477.499 184.099H477.69L649.85 135.782L725.707 476.862L513.23 396.271L389.604 220.766C389.413 220.384 389.031 220.384 388.84 220.384C388.649 220.384 388.458 220.384 388.267 220.575C387.885 220.957 387.693 221.53 388.076 221.912L510.173 395.125L301.518 316.062L297.123 234.707L422.469 199.568C422.851 199.568 423.043 199.186 423.043 199.186C423.043 198.995 423.234 198.804 423.043 198.422C422.851 197.849 422.469 197.658 422.087 197.658H421.896L296.932 232.606L288.716 80.591L355.21 175.123C355.402 175.505 355.784 175.505 355.975 175.505C356.166 175.505 356.357 175.505 356.548 175.314C356.93 174.932 357.121 174.359 356.739 173.977L288.334 76.7715C288.143 76.5805 287.952 76.3895 287.57 76.3895C287.378 76.3895 287.378 76.3895 287.187 76.3895C286.805 76.5805 286.614 76.9624 286.614 77.3444L295.022 233.179L172.924 267.363L172.542 267.554H172.351L172.16 267.745L171.969 267.936L19.1076 592.592C18.9166 592.974 18.9166 593.165 19.1076 593.547C19.2987 593.738 19.4897 593.929 19.8719 593.929H234.259C234.833 593.929 235.215 593.547 235.215 592.974C235.215 592.401 234.833 592.019 234.259 592.019H21.5916L173.497 269.464L299.607 317.208L311.072 530.716C311.072 531.289 311.454 531.671 312.027 531.671C312.601 531.671 312.983 531.098 312.983 530.716L301.518 318.162L512.084 397.99L648.703 592.019H316.231L316.04 588.009C316.04 587.436 315.658 587.054 315.085 587.054C314.511 587.054 314.129 587.627 314.129 588.009L314.32 592.019H291.582C291.009 592.019 290.627 592.401 290.627 592.974C290.627 593.547 291.009 593.929 291.582 593.929H314.511L324.829 783.948C324.829 784.33 325.02 784.521 325.403 784.712C325.594 784.903 325.594 784.903 325.785 784.903ZM326.74 782.42L316.613 593.929H647.175L326.74 782.42ZM725.516 478.771L650.614 591.255L515.332 399.135L725.516 478.771ZM299.416 315.298L175.981 268.509L295.213 235.089L299.416 315.298Z", fill="#6CA2FA")
                                path(d="M39.1706 804C60.7622 804 78.3412 786.43 78.3412 764.85C78.3412 743.27 60.7622 725.701 39.1706 725.701C17.579 725.701 0 743.27 0 764.85C0 786.43 17.579 804 39.1706 804ZM39.1706 727.61C59.8068 727.61 76.4304 744.225 76.4304 764.85C76.4304 785.476 59.8068 802.09 39.1706 802.09C18.5344 802.09 1.91076 785.476 1.91076 764.85C1.91076 744.225 18.7255 727.61 39.1706 727.61Z", fill="#6CA2FA")
                                path(d="M497.753 78.2993C519.345 78.2993 536.924 60.7297 536.924 39.1496C536.924 17.5696 519.345 0 497.753 0C476.162 0 458.583 17.5696 458.583 39.1496C458.583 60.7297 476.162 78.2993 497.753 78.2993ZM497.753 1.90974C518.389 1.90974 535.013 18.5245 535.013 39.1496C535.013 59.7748 518.389 76.3895 497.753 76.3895C477.117 76.3895 460.493 59.7748 460.493 39.1496C460.493 18.5245 477.308 1.90974 497.753 1.90974Z", fill="#6CA2FA")
                                path(d="M134.709 536.637C134.9 536.637 135.282 536.446 135.473 536.255C135.664 536.064 135.664 535.873 135.664 535.682C135.664 535.491 135.473 535.109 135.473 534.918C135.282 534.727 135.091 534.727 134.709 534.727C134.518 534.727 134.135 534.727 133.944 534.918C133.753 535.109 133.562 535.3 133.562 535.682C133.562 535.873 133.753 536.255 133.753 536.255C134.327 536.446 134.518 536.637 134.709 536.637Z", fill="#6CA2FA")
                                path(d="M192.031 536.637C192.223 536.637 192.605 536.446 192.605 536.255C192.796 536.064 192.987 535.873 192.987 535.682C192.987 535.491 192.796 535.109 192.796 535.109C192.605 534.918 192.414 534.918 192.031 534.918C191.84 534.918 191.458 534.918 191.267 535.109C191.076 535.3 190.885 535.491 190.885 535.873C190.885 536.064 191.076 536.446 191.076 536.446C191.458 536.446 191.84 536.637 192.031 536.637Z", fill="#6CA2FA")
                                path(d="M249.354 536.637C249.545 536.637 249.928 536.446 250.119 536.255C250.31 536.064 250.31 535.873 250.31 535.682C250.31 535.491 250.119 535.109 249.928 534.918C249.736 534.727 249.545 534.727 249.354 534.727C249.163 534.727 248.781 534.727 248.59 534.918C248.399 535.109 248.208 535.3 248.208 535.682C248.208 535.873 248.399 536.255 248.399 536.255C248.781 536.446 249.163 536.637 249.354 536.637Z", fill="#6CA2FA")
                                path(d="M249.354 479.344C249.545 479.344 249.928 479.153 250.119 478.962C250.31 478.772 250.31 478.581 250.31 478.39C250.31 478.199 250.119 477.817 249.928 477.626C249.736 477.435 249.545 477.435 249.354 477.435C249.163 477.435 248.781 477.435 248.59 477.626C248.399 477.817 248.208 478.008 248.208 478.39C248.208 478.581 248.399 478.962 248.399 478.962C248.972 479.153 249.163 479.344 249.354 479.344Z", fill="#6CA2FA")
                                path(d="M249.354 422.052C249.545 422.052 249.928 421.861 249.928 421.67C250.119 421.479 250.31 421.288 250.31 421.097C250.31 420.906 250.119 420.524 249.928 420.334C249.736 420.143 249.545 420.143 249.354 420.143C249.163 420.143 248.781 420.143 248.59 420.334C248.399 420.524 248.208 420.715 248.208 421.097C248.208 421.288 248.399 421.67 248.399 421.67C248.781 421.861 249.163 422.052 249.354 422.052Z", fill="#6CA2FA")
                    div(class="relative flex flex-wrap -mx-3")
                        div(class="w-full lg:w-2/5 px-3 pb-10")
                            ul
                                li(class="mr-4 md:mr-0 mb-4 mb-6")
                                    a(class="inline-block text-4xl font-semibold text-blue-800", href="#") Branding
                                li(class="mr-4 md:mr-0 mb-4 mb-6")
                                    a(class="inline-block text-4xl font-semibold text-blue-200 hover:text-blue-300", href="#") Strategy
                                li(class="mr-4 md:mr-0 mb-4 mb-6")
                                    a(class="inline-block text-4xl font-semibold text-blue-200 hover:text-blue-300", href="#") Design
                                li
                                    a(class="inline-block text-4xl font-semibold text-blue-200 hover:text-blue-300", href="#") Websites
                        div(class="w-full lg:w-3/5 px-3")
                            div(class="flex flex-wrap -px-3")
                                div(class="w-full md:w-1/3 p-px")
                                    img(class="h-96 w-full object-cover", src="images/pawel-czerwinski-Kd-IiyO7IqQ-unsplash.jpg", alt="")
                                div(class="w-full md:w-2/3 p-px")
                                    img(class="h-96 object-cover w-full", src="images/diego-ph-fIq0tET6llw-unsplash-1.jpg", alt="")
                                div(class="w-full md:w-2/3 p-px")
                                    img(class="h-96 object-cover w-full", src="images/austin-chan-ukzHlkoz1IE-unsplash.jpg", alt="")
                                div(class="w-full md:w-1/3 p-px")
                                    img(class="h-96 w-full object-cover", src="images/erik-eastman-6zFVL4YuaM-unsplash.jpg", alt="")
            section(class="py-24 bg-blue-50")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4 -mb-8")
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            div(class="max-w-max mx-auto relative")
                                svg(class="h-64 w-64 text-blue-600", viewbox="0 0 255 259", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(x="3.53553", y="129.349", width="172.705", height="172.705", transform="rotate(-45 3.53553 129.349)", stroke="currentColor", stroke-width="5")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M125.612 -3.05176e-05L255 129.388L254.997 129.391L254.998 129.393L125.655 258.736L119.396 252.477L119.438 252.435L58.4137 191.41L64.5922 185.232L125.617 246.256L242.529 129.344L125.619 12.4341L125.612 -3.05176e-05Z")
                                div(class="absolute inset-0 flex flex-col items-center justify-center")
                                    h3(class="text-3xl font-bold text-blue-800") 100%
                                    p(class="text-sm uppercase text-gray-500") Happy clients
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            div(class="max-w-max mx-auto relative")
                                svg(class="h-64 w-64 text-blue-600", viewbox="0 0 255 259", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(x="3.53553", y="129.349", width="172.705", height="172.705", transform="rotate(-45 3.53553 129.349)", stroke="currentColor", stroke-width="5")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M255 129.388L125.612 -3.05176e-05L125.619 12.4341L242.529 129.344L167.55 204.323L173.809 210.582L254.998 129.393L254.997 129.391L255 129.388Z")
                                div(class="absolute inset-0 mt-24")
                                    h3(class="text-3xl font-bold text-blue-800") 56
                                    p(class="text-sm uppercase text-gray-500") Team members
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            div(class="max-w-max mx-auto relative")
                                svg(class="h-64 w-64 text-blue-600", viewbox="0 0 255 259", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(x="3.53553", y="129.349", width="172.705", height="172.705", transform="rotate(-45 3.53553 129.349)", stroke="currentColor", stroke-width="5")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M125.612 -3.05176e-05L255 129.388L254.997 129.391L254.998 129.393L125.655 258.736L119.396 252.477L119.438 252.435L10.5968 143.593L16.7753 137.415L125.617 246.256L242.529 129.344L125.619 12.4341L125.612 -3.05176e-05Z")
                                div(class="absolute inset-0 mt-24")
                                    h3(class="text-3xl font-bold text-blue-800") 19
                                    p(class="text-sm uppercase text-gray-500") Big clients
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            div(class="max-w-max mx-auto relative")
                                svg(class="h-64 w-64 text-blue-600", viewbox="0 0 255 259", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    rect(x="7.53566", y="129.349", width="172.705", height="172.705", transform="rotate(-45 7.53566 129.349)", stroke="currentColor", stroke-width="5")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M259 129.388L129.612 -6.10352e-05L129.619 12.434L246.529 129.344L129.617 246.256L12.3586 128.998L84.0979 57.2589L77.839 51L0 128.839L0.739304 129.578L0.660553 129.657L123.438 252.435L123.396 252.477L129.655 258.736L258.998 129.393L258.997 129.391L259 129.388Z")
                                div(class="absolute inset-0 mt-24")
                                    h3(class="text-3xl font-bold text-blue-800") 6
                                    p(class="text-sm uppercase text-gray-500") Marketing Areas
            section(class="relative py-24 bg-blue-50")
                img(class="hidden lg:block absolute top-0 right-0 w-2/5 h-full object-cover clip-path-left", src="images/pawel-czerwinski-Uj3S6JiXxaA-unsplash-1.jpg", alt="")
                div(class="relative container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0")
                            div(class="max-w-lg")
                                h2(class="mb-10 text-4xl font-bold font-heading text-blue-800") Let's find creative way for generating true growth of your company
                                p(class="text-lg text-gray-500") Vision is an award winning Ditial Marketing and Creative Strategy agency in New York. We are passionate about making your business grow.
                        div(class="w-full lg:w-1/2 px-4")
                            div(class="p-6 lg:p-16 bg-white")
                                form(action="#")
                                    span(class="inline-block uppercase text-blue-400 font-semibold tracking-widest") Start your growth
                                    h3(class="mb-4 text-2xl font-bold font-heading text-blue-800") Leave us your phone 
                                    input(class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400 bg-blue-50", type="email", placeholder="E-mail address")
                                    label(class="inline-flex mb-4 text-left")
                                        input(class="mr-2", type="checkbox", name="terms", value="1")
                                        span(class="-mt-1 inline-block text-sm text-gray-500")
                                            | By signing up, you agree to our 
                                            a(class="text-blue-400 hover:underline", href="#") Terms, Data Policy
                                            |  and 
                                            a(class="text-blue-400 hover:underline", href="#") Cookies Policy
                                            | .
                                    button(class="w-full inline-block mb-4 py-5 text-sm text-blue-800 uppercase font-bold bg-yellow-500 hover:bg-yellow-400 transition duration-200") Send
            section(class="py-24 bg-blue-50")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -mx-5 mb-12 md:mb-20")
                        div(class="w-full lg:w-1/3 px-5 mb-12 lg:mb-0")
                            a(class="inline-block mb-6 text-blue-800 text-lg font-semibold", href="#")
                                img(src="images/Vision-Blue-1.svg", alt="", width="100")
                            p(class="mb-6 max-w-sm text-base text-gray-500") Creativity that sparks performance
                            div
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="10", height="18", viewbox="0 0 10 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M6.63482 17.7272V9.766H9.35818L9.76676 6.66243H6.63482V4.68126C6.63482 3.78299 6.88809 3.17083 8.20285 3.17083L9.877 3.17015V0.394215C9.58748 0.357312 8.59366 0.272705 7.43696 0.272705C5.02158 0.272705 3.36797 1.71878 3.36797 4.37389V6.66243H0.636353V9.766H3.36797V17.7272H6.63482Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="19", height="16", viewbox="0 0 19 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M18.8182 2.14598C18.1356 2.44844 17.4032 2.65356 16.6337 2.74513C17.4194 2.27462 18.0209 1.52831 18.3059 0.641769C17.5689 1.0775 16.7553 1.39389 15.8885 1.56541C15.1943 0.82489 14.207 0.363647 13.1118 0.363647C11.0108 0.363647 9.30725 2.06719 9.30725 4.16707C9.30725 4.46489 9.34086 4.75577 9.40577 5.03392C6.24437 4.87513 3.44107 3.3605 1.56486 1.05895C1.23689 1.61986 1.05031 2.27344 1.05031 2.9711C1.05031 4.29107 1.72246 5.45574 2.74228 6.13713C2.1188 6.11628 1.5324 5.94477 1.01904 5.65968V5.70719C1.01904 7.5498 2.33089 9.08762 4.07034 9.43762C3.75164 9.52337 3.41558 9.57089 3.06792 9.57089C2.82225 9.57089 2.58468 9.54656 2.35174 9.50019C2.83613 11.0125 4.24071 12.1123 5.90486 12.1424C4.60343 13.1623 2.96246 13.7683 1.18013 13.7683C0.873039 13.7683 0.570554 13.7498 0.272736 13.7162C1.95658 14.7974 3.95564 15.4279 6.10419 15.4279C13.1026 15.4279 16.9281 9.63116 16.9281 4.60398L16.9153 4.11147C17.6628 3.57834 18.3094 2.90853 18.8182 2.14598Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="18", height="18", viewbox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9 0C4.0275 0 0 4.13211 0 9.22838C0 13.3065 2.5785 16.7648 6.15375 17.9841C6.60375 18.0709 6.76875 17.7853 6.76875 17.5403C6.76875 17.3212 6.76125 16.7405 6.7575 15.9712C4.254 16.5277 3.726 14.7332 3.726 14.7332C3.3165 13.6681 2.72475 13.3832 2.72475 13.3832C1.9095 12.8111 2.78775 12.8229 2.78775 12.8229C3.6915 12.887 4.16625 13.7737 4.16625 13.7737C4.96875 15.1847 6.273 14.777 6.7875 14.5414C6.8685 13.9443 7.10025 13.5381 7.3575 13.3073C5.35875 13.0764 3.258 12.2829 3.258 8.74709C3.258 7.73988 3.60675 6.91659 4.18425 6.27095C4.083 6.03774 3.77925 5.0994 4.263 3.82846C4.263 3.82846 5.01675 3.58116 6.738 4.77462C7.458 4.56958 8.223 4.46785 8.988 4.46315C9.753 4.46785 10.518 4.56958 11.238 4.77462C12.948 3.58116 13.7017 3.82846 13.7017 3.82846C14.1855 5.0994 13.8818 6.03774 13.7917 6.27095C14.3655 6.91659 14.7142 7.73988 14.7142 8.74709C14.7142 12.2923 12.6105 13.0725 10.608 13.2995C10.923 13.5765 11.2155 14.1423 11.2155 15.0071C11.2155 16.242 11.2043 17.2344 11.2043 17.5341C11.2043 17.7759 11.3617 18.0647 11.823 17.9723C15.4237 16.7609 18 13.3002 18 9.22838C18 4.13211 13.9703 0 9 0Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 mr-4 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="10", height="18", viewbox="0 0 10 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd", clip-rule="evenodd", d="M6.63482 17.7272V9.766H9.35818L9.76676 6.66243H6.63482V4.68126C6.63482 3.78299 6.88809 3.17083 8.20285 3.17083L9.877 3.17015V0.394215C9.58748 0.357312 8.59366 0.272705 7.43696 0.272705C5.02158 0.272705 3.36797 1.71878 3.36797 4.37389V6.66243H0.636353V9.766H3.36797V17.7272H6.63482Z", fill="currentColor")
                                |               
                                a(class="inline-flex items-center w-12 h-12 bg-white", href="#")
                                    svg(class="mx-auto text-blue-800", width="18", height="18", viewbox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M16.2 0H1.8C0.81 0 0 0.81 0 1.8V16.2C0 17.19 0.81 18 1.8 18H16.2C17.19 18 18 17.19 18 16.2V1.8C18 0.81 17.19 0 16.2 0ZM5.4 15.3H2.7V7.2H5.4V15.3ZM4.05 5.67C3.15 5.67 2.43 4.95 2.43 4.05C2.43 3.15 3.15 2.43 4.05 2.43C4.95 2.43 5.67 3.15 5.67 4.05C5.67 4.95 4.95 5.67 4.05 5.67ZM15.3 15.3H12.6V10.53C12.6 9.81004 11.97 9.18 11.25 9.18C10.53 9.18 9.9 9.81004 9.9 10.53V15.3H7.2V7.2H9.9V8.28C10.35 7.56 11.34 7.02 12.15 7.02C13.86 7.02 15.3 8.46 15.3 10.17V15.3Z", fill="currentColor")
                        div(class="w-full lg:w-2/3 px-5")
                            div(class="flex flex-wrap justify-between -mx-4")
                                div(class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Company
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") About Us
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Careers
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Press
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Blog
                                div(class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Services
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Branding
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Strategy
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Design
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Websites
                                div(class="w-1/2 lg:w-1/4 px-4 mb-8 lg:mb-0")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Legal
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Terms
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") About Us
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Team
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Privacy
                                div(class="w-1/2 lg:w-1/4 px-4")
                                    h3(class="mb-4 text-base font-bold text-blue-800") Resources
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Blog
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Service
                                        li(class="mb-4")
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Product
                                        li
                                            a(class="text-blue-500 hover:text-blue-600", href="#") Pricing
                    p(class="text-center text-sm text-gray-500 pt-8 px-4 border-t border-gray-100") All rights reserved © Vision Marketing 2022
